<!DOCTYPE html>
<html lang="en" ng-app="venUI" ng-controller="MainController as mainCtrl">
<head>
    <!-- base href="/venserver/" -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VEN Server</title>
    <link type="text/css" rel="stylesheet" href="scripts/vendor/bootstrap/dist/css/bootstrap.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="scripts/vendor/font-awesome/css/font-awesome.css" />
    <link type="text/css" rel="stylesheet" href="scripts/vendor/ng-tags-input/ng-tags-input.css" />
    <link type="text/css" rel="stylesheet" href="scripts/vendor/ng-tags-input/ng-tags-input.bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="scripts/vendor/prism/themes/prism.css" />
    <link type="text/css" rel="stylesheet" href="styles/main.css" media="screen" />
</head>
<body>
    <div id="wrap">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="offcanvas">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="root">VEN Server</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="{active: mainCtrl.state.current.name.indexOf('registration') == 0}">
                            <a ui-sref="registration" data-toggle="offcanvas">Registration</a>
                        </li>
                        <li ng-class="{active: mainCtrl.state.current.name.indexOf('resources') == 0}">
                            <a ui-sref="resources.search" data-toggle="offcanvas">Resources</a>
                        </li>
                        <li ng-class="{active: mainCtrl.state.current.name.indexOf('reports') == 0}">
                            <a ui-sref="reports" data-toggle="offcanvas">Reports</a>
                        </li>
                        <li ng-class="{active: mainCtrl.state.current.name.indexOf('events') == 0}">
                            <a ui-sref="events" data-toggle="offcanvas">Events</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid content">
            <div class="row row-offcanvas row-offcanvas-left">
                <!-- main area-->
                <div class="mainarea">
                    <div ng-controller="FlashController"
                         class="alert alert-dismissible"
                         ng-class="'alert-' + flash.getMessage().cssClass"
                         role="alert"
                         ng-show="showAlert"
                         ng-cloak>
                        <button type="button" class="close" ng-click="hideAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{flash.getMessage().text}}
                    </div>
                    <div id="main" ui-view>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Libraries -->
    <script type="text/javascript" src="scripts/vendor/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="scripts/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-socket-io/socket.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-touch/angular-touch.js"></script>
    <script type="text/javascript" src="scripts/vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="scripts/vendor/ng-tags-input/ng-tags-input.js"></script>
    <script type="text/javascript" src="scripts/vendor/prism/prism.js" data-manual></script>

    <script type="text/javascript" src="scripts/socket.io.js"></script>

    <!-- Modules -->
    <script type="text/javascript" src="scripts/appRoutes.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script src="scripts/offcanvas.js"></script>

    <script src="scripts/directives/datepicker.js"></script>
    <script src="scripts/directives/timepicker.js"></script>
    <script src="scripts/directives/datetimepicker.js"></script>

    <script src="scripts/filters/startFromFilter.js"></script>
    <script src="scripts/filters/genericSearchFilter.js"></script>

    <script type="text/javascript" src="scripts/services/Services.js"></script>
    <script type="text/javascript" src="scripts/services/flash.js"></script>
    <script src="scripts/services/locationParser.js"></script>
    <script type="text/javascript" src="scripts/services/LogService.js"></script>
    <script type="text/javascript" src="scripts/services/ResourceService.js"></script>
    <script type="text/javascript" src="scripts/services/RegistrationService.js"></script>
    <script type="text/javascript" src="scripts/services/SocketService.js"></script>
    <script type="text/javascript" src="scripts/services/ReportService.js"></script>
    <script type="text/javascript" src="scripts/services/EventService.js"></script>

    <script type="text/javascript" src="scripts/controllers/Controllers.js"></script>
    <script src="scripts/controllers/flashController.js"></script>
    <script type="text/javascript" src="scripts/controllers/MainController.js"></script>
    <script type="text/javascript" src="scripts/controllers/RegistrationController.js"></script>
    <script type="text/javascript" src="scripts/controllers/SearchResourceController.js"></script>
    <script type="text/javascript" src="scripts/controllers/ResourceController.js"></script>
    <script type="text/javascript" src="scripts/controllers/ReportController.js"></script>
    <script type="text/javascript" src="scripts/controllers/EventController.js"></script>

    <script type="text/javascript" src="scripts/directives/Directives.js"></script>
    <script type="text/javascript" src="scripts/directives/CodeHighlightDirective.js"></script>
</body>
</html>