<div class="col-sm-offset-2 col-xs-12 col-sm-8 form-horizontal well">
    <header ng-switch on="resourceCtrl.isCreating">
        <h3 ng-switch-when="true">Create a new Resource</h3>
        <h3 ng-switch-when="false">View or edit Member</h3>
    </header>
    <form name="ResourceForm" role="form">
        <div class="form-group">
            <label for="resourceType" class="col-sm-3 control-label">Resource Type</label>
            <div class="col-sm-9">
                <select id="resourceType" class="form-control" ng-disabled="!resourceCtrl.isCreating" ng-model="resourceCtrl.formData.resourceType" ng-options="option.value as option.label group by option.group for option in resourceCtrl.resourceTypes">
                </select>
            </div>
        </div>
        <div ng-if="!resourceCtrl.formData.resourceType">
            <div class="col-sm-offset-3 col-sm-9">
                Choose a resource type.
            </div>
        </div>
        <div ng-if="resourceCtrl.formData.resourceType">
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                    <input id="name" type="text" class="form-control" ng-model="resourceCtrl.formData.name" placeholder="Name" />
                </div>
            </div>
            <div ng-if="resourceCtrl.formData.resourceType == 'load'">
                <div class="form-group" ng-class="{ 'has-error': ResourceForm.w.$invalid }">
                    <label for="w" class="col-sm-3 control-label">Realtime usage (W)</label>
                    <div class="col-sm-9">
                        <input id="w" type="text" class="form-control" ng-model="resourceCtrl.formData.w" placeholder="W" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />
                    </div>
                </div>
            </div>
            <div ng-if="resourceCtrl.formData.resourceType == 'generator'">
                <div class="form-group" ng-class="{ 'has-error': ResourceForm.w.$invalid }">
                    <label for="w" class="col-sm-3 control-label">Generator output (W)</label>
                    <div class="col-sm-9">
                        <input id="w" type="text" class="form-control" ng-model="resourceCtrl.formData.w" placeholder="W" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />
                    </div>
                </div>
            </div>
            <div ng-if="resourceCtrl.formData.resourceType == 'storage'">
                <div class="form-group" ng-class="{ 'has-error': ResourceForm.w.$invalid }">
                    <label for="w" class="col-sm-3 control-label">Charge rate (W)</label>
                    <div class="col-sm-9">
                        <input id="w" type="text" class="form-control" ng-model="resourceCtrl.formData.chargeRate" placeholder="W" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"/>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': ResourceForm.w.$invalid }">
                    <label for="w" class="col-sm-3 control-label">Discharge rate (W)</label>
                    <div class="col-sm-9">
                        <input id="w" type="text" class="form-control" ng-model="resourceCtrl.formData.dischargeRate" placeholder="W" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"/>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': ResourceForm.w.$invalid }">
                    <label for="w" class="col-sm-3 control-label">Max capacity (Wh)</label>
                    <div class="col-sm-9">
                        <input id="w" type="text" class="form-control" ng-model="resourceCtrl.formData.maxCapacity" placeholder="Wh" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="online" class="col-sm-3 control-label">Online</label>
                <div class="col-sm-9">
                    <input id="online" type="checkbox" ng-model="resourceCtrl.formData.online" placeholder="Online" checked="checked" />
                </div>
            </div>
            <div class="col-sm-offset-3 col-sm-9">
                <button class="btn btn-primary" ng-disabled="resourceCtrl.isClean() || ResourceForm.$invalid" ng-click="resourceCtrl.save()">
                    <span class="fa fa-check-circle"></span> Save
                </button>
                <button class="btn btn-default" ng-click="resourceCtrl.cancel()">
                    <span class="fa fa-times-circle"></span> Cancel
                </button>
                <button class="btn btn-danger" ng-show="resourceCtrl.formData.id" ng-click="resourceCtrl.remove()">
                    <span class="fa fa-trash"></span> Delete
                </button>
            </div>
        </div>
    </form>
</div>
