<div class="col-sm-offset-2 col-xs-12 col-sm-8 form-horizontal well">
    <div>
        <h3>Create a new Resource</h3>
        <div class="form-group">
            <div class="col-md-offset-2 col-sm-2">
                <a id="Create" name="Create" class="btn btn-primary" ui-sref="resources.detail">
                    <span class="fa fa-plus-circle"></span> Create
                </a>
            </div>
        </div>
    </div>
    <hr />
    <!--  <div>
        <h3>Search for Resources</h3>
        <form id="MemberSearch" class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input id="name" name="name" class="form-control" type="text" ng-model="searchResourceCtrl.search.name" placeholder="Name" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-sm-10">
                    <a id="Search" name="Search" class="btn btn-primary" ng-click="searchResourceCtrl.performSearch()">
                        <span class="fa fa-search"></span> Search
                    </a>
                </div>
            </div>
        </form>
    </div>-->
    <div id="search-results">
        <div class="table-responsive">
            <table class="table table-responsive table-bordered table-striped clearfix">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody id="search-results-body">
                    <tr ng-repeat="result in searchResourceCtrl.filteredResults | startFrom:searchResourceCtrl.currentPage * searchResourceCtrl.pageSize | limitTo:searchResourceCtrl.pageSize">
                        <td><a ui-sref="resources.detail({id: result.id})">{{result.name}}</a></td>
                        <td><a ui-sref="resources.detail({id: result.id})">{{result.resourceType}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ul class="pagination pagination-centered">
            <li ng-class="{disabled: searchResourceCtrl.currentPage == 0}">
                <a id="prev" href ng-click="searchResourceCtrl.previous()">«</a>
            </li>
            <li ng-repeat="n in pageRange" ng-class="{active: searchResourceCtrl.currentPage == n}" ng-click="searchResourceCtrl.setPage(n)">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: searchResourceCtrl.currentPage == (searchResourceCtrl.numberOfPages() - 1)}">
                <a id="next" href ng-click="searchResourceCtrl.next()">»</a>
            </li>
        </ul>
    </div>
</div>
