<div class="col-sm-8">
    <div class="container-table">
        <table class="table table-striped table-hover">
            <tr>
                <th>Event ID</th>
                <th>Start Time</th>
                <th>Created Date/Time</th>
                <th>Duration</th>
                <th>Status</th>
                <th>Market Context</th>
            </tr>
            <tr ng-repeat="event in eventCtrl.events" ng-click="eventCtrl.showSignals(event)" 
                ng-class="{ 'success': event.id == eventCtrl.event.id }" class="cursor-pointer">
                <td>{{event.eventId}}</td>
                <td>{{event.startTime | date : 'd/M/yy H:mm'}}</td>
                <td>{{event.createdDate | date : 'd/M/yy H:mm'}}</td>
                <td>{{event.duration}}</td>
                <td>{{event.eventStatus}}</td>
                <td>{{event.marketContext}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="col-sm-4" ng-if="eventCtrl.event">
    <div>
    	<table class="table well">
	    	<tr>
	    		<th> Name </th>
	    		<th> Type </th>
	    		<th> Units </th>
	    		<th> Values </th>
	    	</tr>
	        <tr ng-repeat="signal in eventCtrl.event.signals">
	        	<td>{{signal.name}}</td> 
	        	<td>{{signal.type}}</td> 
	        	<td>{{signal.siScaleCode}}{{signal.itemUnits}}</td>
	        	<td>{{signal.intervals}}</td>
	        </tr>
	    </table>
    </div>
</div>