<div class="col-sm-offset-2 col-xs-12 col-sm-8 form-horizontal well">
    <div class="form-group">
        <label for="serverUrl" class="col-sm-2 control-label">Server url</label>
        <div class="col-sm-10">
            <input id="serverUrl" class="form-control" type="text" ng-model="registrationCtrl.registerParams.target" placeholder="Server url" />
        </div>
    </div>
    <div class="form-group">
        <label for="venName" class="col-sm-2 control-label">Ven name</label>
        <div class="col-sm-10">
            <input id="venName" class="form-control" type="text" ng-model="registrationCtrl.registerParams.venName" placeholder="Ven name" />
        </div>
    </div>
    <div class="form-group">
        <label for="venId" class="col-sm-2 control-label">Ven id</label>
        <div class="col-sm-10">
            <input id="venId"  class="form-control" type="text" ng-model="registrationCtrl.registerParams.venId" placeholder="Ven id" />
        </div>
    </div>
    <div class="form-group">
        <label for="marketContexts" class="col-sm-2 control-label">Market contexts</label>
        <div class="col-sm-10">
            <tags-input id="marketContexts" ng-model="registrationCtrl.registerParams.marketContexts" placeholder="Market contexts"></tags-input>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-primary" ng-click="registrationCtrl.doQueryRegistration()"> Query registration</button>
            <button class="btn btn-primary" ng-click="registrationCtrl.doCreatePartyRegistration()"> Create Party Registration</button>
            <button class="btn btn-primary" ng-click="registrationCtrl.doCancelPartyRegistration()"> Cancel Party Registration</button>
        </div>
    </div>
    <div class="form-group">
        <!-- polling -->
        <div class="col-sm-3">
            <button class="btn btn-primary" ng-click="registrationCtrl.togglePolling()"> {{ registrationCtrl.isPolling ? 'Stop polling' : 'Start polling' }}</button>
        </div>
        <div class="col-sm-4">
            <label class="control-label">Poll frequency</label>
            <span>{{registrationCtrl.pollFreq}}</span>
        </div>
        <div class="col-sm-5">
            <label class="control-label">Registration id</label>
            <span>{{registrationCtrl.registrationId}}</span>
        </div>
    </div>
</div>
<div class="col-sm-8">
    <div class="container-table">
        <table class="table table-striped table-hover">
            <tr>
                <th>Date</th>
                <th>Response Time</th>
                <th>Request Type</th>
                <th>Response Type</th>
                <th>Response Code</th>
                <th>Response Message</th>
            </tr>
            <tr ng-repeat="result in registrationCtrl.messages" ng-click="registrationCtrl.showDetails(result)"
                ng-class="{ 'success': result.id == registrationCtrl.logItem.id }" class="cursor-pointer">
                <td>{{result.date | date : 'd/M/yy H:mm:ss'}}
                <td>{{result.responseTime}}</td>
                <td>{{result.requestType}}</td>
                <td>{{result.responseType}}</td>
                <td>{{result.responseCode}}</td>
                <td>{{result.responseMessage}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="col-sm-4" ng-if="registrationCtrl.logItem">
    <div>
        <label>Request</label>
        <code-highlight pre-class="pre-scrollable" code-class="language-xml" source="{{registrationCtrl.logItem.requestPayload}}"></code-highlight>
    </div>
    <div>
        <label>Response</label>
        <code-highlight pre-class="pre-scrollable" code-class="language-xml" source="{{registrationCtrl.logItem.responsePayload}}"></code-highlight>
    </div>
</div>
<div class="col-sm-4" ng-if="!registrationCtrl.logItem">
    <div class="well information">
        Select a row in the table.
    </div>
</div>
