<div class="col-sm-offset-2 col-xs-12 col-sm-8 form-horizontal well">
    <div class="form-group">
        <div class="col-sm-10">
            <button class="btn btn-primary" ng-click="reportCtrl.doRegisterReports()"> Register reports</button>
        </div>
    </div>
</div>
<div class="col-sm-offset-2 col-sm-8">
    <div class="container-table">
        <table class="table table-striped table-hover">
            <tr>
                <th>Report Request ID</th>
                <th>Report Specifier ID</th>
                <th>Granularity</th>
                <th>Report Back Duration</th>
                <th>Interval Start</th>
                <th>Interval Duration</th>
            </tr>
            <tr ng-repeat="result in reportCtrl.requests" class="cursor-pointer">
                <td>{{result.requestId}}</td>
                <td>{{result.specifierId}}</td>
                <td>{{result.granularity}}</td>
                <td>{{result.reportBackDuration}}</td>
                <td>{{result.intervalStart | date : 'd/M/yy H:mm'}}</td>
                <td>{{result.intervalDuration}}</td>
            </tr>
        </table>
    </div>
</div>
